@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* general */
body {
  background: #1d3d24;
  font-family: Roboto;
  font-weight: 300;
  background-image: url('../images/purty-wood.png');
}

.center {
  text-align: center
}

/* shared */
#home, #projects {
  height: 100vh;
  overflow: hidden;
}

#up, #down, #downLabel {
  cursor: pointer;
}

.label {
  font-size: 40px;
}

/* main */
.imgLink {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  margin-left: -25px;
}

#email:hover, #linkedin:hover, #github:hover {
  width: 60px;
  height: 60px;
}

.info {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  left: auto;
  right: auto;
}

#name {
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 40px;
  font-weight: 300;
}

.iconSpacing {
  height: 100px;
  width: 100px;
  display: inline-block;
}

#downLabel {
  font-size: 30px;
  color: white;
  margin-top: 7.7%
}

#down {
  margin-bottom: -5%;
}

#paperMain {
  height: 500px;
  width: 500px;
  opacity: 0.4;

}

#paperMain:hover {
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: .6;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.48),
              0 1px 4px rgba(0, 0, 0, 0.60);
}

#bottom {
  bottom: 30px;
}

/* projects */
#up {
  /*margin-top: -35px;*/
}

#uparrow {
  height: 97px;
}

#projectLabel {
  margin-top: -1%;
  font-size: 30px;
  color: white;
}

#paperProjects {
  height: 649px;
  width: 1050px;
  margin-top: -10px;
}

#projectContainer {
  text-align: center;
}

.projectBox, .projectOverlay {
  width: 458px;
  height: 258px;
  margin: 20px 10px;
}

.column {
  display: inline-flex;
  margin-top: -1.3%;
}

.projectImg {
  border: solid black 2px;
}

.projectOverlay {
  display: none;
  background-color: white;
  position: absolute;
  z-index: 20;
  opacity: 0.8;
}

li {
  list-style-type: none;
}

.projectLink {
  color: black;
  margin-left: -45px;
  font-size: 30px;
}

#project1, #project2, #project3, #project4 {
  margin: -276px auto auto 12px;
}

/* transition */

.firstColor {
  background-color: #1d3d24;
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.secondColor {
  background-color: #0a0b24;
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

/* paper overlay */

.paper {
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: 3% auto;
  -webkit-transform: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
              0 1px 4px rgba(0, 0, 0, 0.24);
}

.overlay:after,
.overlay:before {
  border: 1px solid black;
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s
}

.overlay:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.overlay:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.overlay:hover:after,
.overlay:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0.5;
}